html(lang ='en')
    head 
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title Fit Daily
      link(rel='stylesheet', href='styles.css')
      script(src='https://kit.fontawesome.com/3f93d2c0e4.js', crossorigin='anonymous')

    body.routinebody
        -
      
        nav 
            span
            .home-btn 
            a(href="/").home-btn  Logout
  
    
        
        div.add-title
            h1 fit daily routines
            h2 Consistency is key!
            h4 What did you do today?
            br
            a(href="/addroutine").sign-in-btn ADD YOUR ROUTINE
        br
              
        .container
                each item in routines
                  .list
                          ul 
                          li Fit Daily
                          li #{item.date}
                          li #{item.type} 
                          li #{item.duration}
                          li #{item.routine}
                          br
                          div.i.fa-solid.fa-circle-minus
      
          
